.btnStyle {
    background-color: #7F43C9;
    color: white;
    border-radius: 5px;
    border: 1px solid #7F43C9;
}
.topDistant {
    /* margin-top: 20px; */
    margin: 20px 0 0 0;
}
.inputSize .el-input__inner {
    width: 200px;
}
.formFormat {
    width: 80%;
    margin: 0 auto;
  }
  .pStyle {
    margin-bottom: 15px
  }
  .fontEm {
    color:#FE3BBB

  }
  .inputSeletion {
      width: 100%;
  }
  .emailTitle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 6px;
  }
  .collapseWords {
    text-overflow:ellipsis
  }